# استثناء برامج النظام والتطبيقات التنفيذية
*.exe
*.dll
*upscayle*

# استثناء مقاطع الصوت والسكربتات والملفات النصية
*.mp3
*.csv
*.txt
*.py

# استثناء ملفات الإعدادات والملفات المؤقتة
config.txt
voice.mp3
music.mp3